# Некоторые файлы и директории не должны попасть в образ:
# они там не нужны, при копировании надо исключить их
# (в файле с инструкциями создания образа Dockerfile).
# Принцип работы файла .dockerignore такой же, как у .gitignore.
# Он должен располагаться в той же директории, что и Dockerfile.
venv
.git
db.sqlite3
.idea
.vscode
.env
